<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title || 'Zihui Chen - Portfolio'}</title>
		<meta name="description" content={Astro.props.description || 'Zihui Chen的个人简历和项目主页'} />
	</head>
	<body class="bg-gray-50 text-gray-900 antialiased">
		<slot />
	</body>
</html>
